<div class="fixed bottom-8 right-8 group">

    <button type="button" routerLink="/create" class="
            bg-blue-600 text-white w-14 h-14 p-0 rounded-full shadow-xl
            flex items-center justify-center 
            hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-offset-2 focus:ring-blue-500
            transition duration-300 transform hover:scale-105
            cursor-pointer peer
        ">
        <span class="sr-only">Crear Nuevo Post</span>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"
            aria-hidden="true">
            <path fill-rule="evenodd"
                d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
                clip-rule="evenodd" />
        </svg>
    </button>

    <div class="
            absolute right-full top-1/2 transform -translate-y-1/2 
            bg-gray-800 text-white text-xs rounded py-1 px-2 mr-3 
            whitespace-nowrap opacity-0 pointer-events-none 
            transition duration-300
            group-hover:opacity-100 group-hover:block
        ">
        Crear Nuevo Post
    </div>
</div>

<div class="max-w-6xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
    <div class="relative">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
            </svg>
        </div>
        <input 
            type="text" 
            name="search" 
            id="search"
            class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm transition duration-150 ease-in-out" 
            placeholder="Buscar por título, contenido o categoría..." 
            
            [ngModel]="searchTerm"
            (ngModelChange)="onSearch($event)"
        >
    </div>
</div>

<div class="max-w-6xl mx-auto py-8 px-4 sm:px-6 lg:px-8
            grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

    @for (post of (postList$ | async); track post.id) {

    <div
        class="bg-white shadow-xl rounded-sm p-6 mb-6 hover:shadow-xl transition duration-300 flex flex-col justify-between">
        <a [routerLink]="['/post', post.id]" class="post-link-card">
            <!-- TÍTULO -->
            <h2 class="text-2xl font-semibold text-gray-800 mb-3 hover:text-blue-600 hover:underline">
                {{ post.title }}
            </h2>
        </a>

        <p class="w-fit text-sm font-light text-gray-900 bg-gray-200 px-2 mb-2 rounded-xl font-sans">
            {{ post.category }}
        </p>

        <p class="text-base text-gray-700 mb-4 line-clamp-4">
            {{ post.content }}
        </p>

        <div class="flex flex-wrap gap-2 mb-4">
            @for (tag of getTagsArray(post.tags); track $index) {
            <p class="w-fit text-xs font-medium text-blue-800 bg-blue-100 px-3 py-0.5 rounded-xl font-sans">
                {{ tag }}
            </p>
            }
        </div>

        <div class="flex justify-start space-x-4 mt-auto">

            <button type="button" [routerLink]="['/post/edit', post.id]"
                class="flex items-center text-sm font-medium text-orange-500 hover:text-white border border-orange-500 rounded-sm px-3 py-1 transition duration-150 hover:bg-orange-500 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-4 h-4 mr-1">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 18.07a4.996 4.996 0 0 1-1.042 1.34L6.1 20.69a1.875 1.875 0 0 1-2.315-2.315l1.27-3.44a5 5 0 0 1 1.34-1.042l8.58-8.58Z" />
                </svg>
                Editar Post
            </button>

            <button type="button" (click)="promptDelete(post.id!)"
                class="flex items-center text-sm font-medium text-red-600 hover:text-white border border-red-600 rounded-sm px-3 py-1 transition duration-150 hover:bg-red-600 cursor-pointer">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-4 h-4 mr-1">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.166L15.418 3.328a2.25 2.25 0 0 0-2.15-1.55H9.866a2.25 2.25 0 0 0-2.15 1.55L4.577 5.768m18.823 0h-16.486m16.486 0L19.4 18a2.25 2.25 0 0 1-2.244 2.077H6.844a2.25 2.25 0 0 1-2.244-2.077L4.535 5.768m15.43 0H4.035" />
                </svg>
                Eliminar
            </button>
        </div>
    </div>

    } @empty {
    <p class="text-center text-gray-500 text-lg">No hay posts disponibles para mostrar.</p>
    }
</div>

<app-confirmation-dialog [isVisible]="isModalVisible" [message]="confirmationMessage" (confirmed)="confirmDelete()"
    (canceled)="cancelDelete()"></app-confirmation-dialog>